.grey {
  background: #f9f9f9;
}

.container {
  padding: 0.625rem 0.9375rem;
  background: white;
}

.title {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.0156rem;
  color: #000000;
}
