.logo {
  width: 9.3125rem;
  height: 2.3125rem;
}

.a {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.0112rem;

  &.active {
    font-weight: bold;
    color: #ff5a70 !important;
  }
}

.separator-container {
  margin-right: 2.5rem;
}
.profile-container {
  margin-right: 0.8125rem;
}

.vertical-separator {
  height: 80%;
  border-right: 0.125rem solid #c4c4c4;
}

.chevron {
  color: #bebebe;
}

@media only screen and (min-width: 600px) {
  nav {
    height: 6.75rem;

    div.navbar-collapse {
      height: 6.75rem;

      ul {
        height: 100%;
        align-items: center;
        li {
          height: 100%;
          display: flex;
          align-items: center;
          margin: auto 2.3125rem;

          a {
            font-size: 1.125rem;
            line-height: 1.5rem;
            letter-spacing: 0.0112rem;
            &.active {
              border-bottom: 6px solid #ff5a70;
              height: 100%;
              display: flex;
              align-items: center;
              font-weight: bold;
              color: #ff5a70 !important;
            }
          }
        }
      }
    }
  }
}
