button {
  width: 100%;
  background: #ebebeb;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
  color: #1c0b11;
  height: 3.625rem;
  border: none;

  i {
    color: #1c0b11;
  }
}
