.container {
  margin: 3.875rem 11.25rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 0.0063rem;
  color: #3b3b3b;
}

.showMobile {
  display: none;
}

.hideMobile {
  display: block;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
  .showMobile {
    display: block;
  }
  .hideMobile {
    display: none;
  }
}
